@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* =========================
   ROOT VARIABLES
   ========================= */

:root {
  /* Font */
  --font-main: "Inter", sans-serif;
  --text-size-small: 0.875rem;
  --text-size-normal: 1rem;
  --text-size-large: 2rem;

  /* Colors */
  --primary-dark: #070b16;
  --primary-light: #ffffff;

  --color-muted: #564787;
  --color-calm: #dbcbd8;
  --color-light: #f2fdff;
  --color-accent: #f2fdff;

  /* Defaults */
  --text-color: var(--primary-dark);
  --background-color: var(--primary-dark);

  /* Layout */
  --max-width: 1100px;
  --xsmall-spacing: 0.25rem;
  --small-spacing: 0.5rem;
  --normal-spacing: 1rem;
  --large-spacing: 1.5rem;
  --xlarge-spacing: 2rem;

  --soft-radius: 0.5rem;
  --medium-radius: 1rem;
  --hard-radius: 1.5rem;
}

/* =========================
   RESET / BASE
   ========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--text-size-normal);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: var(--large-spacing);
}

/* =========================
   HEADER
   ========================= */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--normal-spacing);

  background-color: var(--color-light);
  border-bottom: 1px solid var(--primary-dark);
  padding: var(--normal-spacing);
}

h1 {
  color: var(--primary-dark);
  font-size: var(--text-size-large);
  text-align: center;
}

/* =========================
MAIN
========================= */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--normal-spacing);
  flex: 1;
  background-image: url("./images/weather.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-spacing);
  background-color: var(--color-calm);
  border-radius: var(--medium-radius);
  margin-top: var(--small-spacing);
}

label {
  color: var(--primary-dark);
}

input {
  padding: var(--xsmall-spacing);
  border-radius: var(--soft-radius);
}

span {
  color: var(--primary-dark);
}

/* =========================
   CLASSSES
   ========================= */

.search-btn {
  padding: var(--xsmall-spacing);
}

.error-msg {
  display: none;

  max-width: 400px;
  margin: 0 auto;
  text-align: center;

  color: var(--primary-light);
  background-color: red;
  border: 1px solid var(--primary-light);
}

.weather {
  display: none;

  width: fit-content;
  margin: 0 auto;
  padding: var(--small-spacing);
  border-radius: var(--medium-radius);

  background-color: var(--color-light);
}

/* =========================
   TYPOGRAPHY
   ========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: var(--large-spacing);
}

/* =========================
   MEDIA (RULE OF THUMB)
   ========================= */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* =========================
   LINKS & FORMS
   ========================= */

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input:focus {
  border: 2px solid blue;
}

input:invalid {
  border: 2px solid red;
}

button {
  cursor: pointer;
  transition: background-color 2s 500ms;
}

button:hover {
  color: var(--primary-light);
  background-color: var(--color-muted);
}

form,
footer {
  padding: var(--normal-spacing);
}

footer {
  display: flex;
  justify-content: center;
  gap: var(--small-spacing);

  background-color: var(--color-light);
  border-top: 1px solid var(--primary-dark);
}
